# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
nohup.out
# PyTorch and experiment artifacts
data/
wandb/
*.pt
*.pth
*.tar

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
